.contentcontainer {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.dropcontentcontainer {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  background-color: #f1fafe;
  margin: 1rem;
  box-shadow: 7px 7px 0px #000;
  padding-top: 1rem;
  max-width: 500px;
}

.droppageheader {
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
    text-align: center;
    font-weight: bold;
  }

  h1 {
    margin: 0;
  }

  a {
    text-align: center;
  }
}

.container {
  display: grid;
  justify-items: center;
  h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
  }
}
ul {
  list-style: none;
  font-weight: bolder;
}

.p {
  margin: 1rem;
}

h3 {
  margin: 0.5rem 0;
  text-decoration: underline;
}

@media only screen and (min-width: 600px) {
  .contentcontainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 900px) {
}
