.container {
  display: grid;
}

.image {
  display: flex;
  justify-content: center;
}

.description {
  max-width: 350px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem;
}
h1 {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .container {
    grid-template-columns: 1fr 1fr;
    justify-items: space-evenly;
    align-items: center;
  }

  img {
    max-height: 550px;
    padding: 1rem;
  }
}

@media only screen and (min-width: 900px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
