.container {
  display: grid;
}

.image {
  display: flex;
  justify-content: center;
}

.thc {
  display: grid;
  grid-template-columns: 30% 1fr;
  margin: 1rem;

  p {
    text-align: center;
    font-weight: bold;
  }
}
.terps {
  display: grid;
  grid-template-columns: 30% 1fr;
  margin: 1rem;

  p {
    text-align: center;
    font-weight: bold;
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0rem 1rem;
  box-shadow: 7px 7px 0px #000;
  background-color: #fff;

  a {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 1rem;
  }
}
h1 {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .container {
    grid-template-columns: 1fr 1fr;
    justify-items: space-evenly;
    align-items: center;
  }

  .image {
    max-height: 700px;
    padding: 1rem;
  }

  .description {
  }
}

@media only screen and (min-width: 900px) {
  .container {
    grid-template-columns: 1fr 1fr;
    justify-items: space-evenly;
    align-items: center;
  }

  .description {
  }
}
