.productcontainer {
  background-color: #fff;
  margin: 1rem;

  .description {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  p {
    margin: 0;
    padding: 1rem;
  }

  a {
    margin: 0;
    padding: 1rem;
    font-weight: bold;
  }
}
