.posts {
  list-style: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.post {
  background-color: #c49c43;
  h1 {
    font-size: 1.3rem;
    text-align: center;
    color: #161624;
    text-decoration: underline;
    text-decoration-color: #161624;
  }

  p {
    color: #161624;
    text-decoration: none;
    text-align: center;
  }
}
