.posts {
  display: grid;
  grid-template-columns: 1fr;
  li {
    padding: 1rem;
    margin: 1rem;
    background-color: #f1fafe;
    max-width: 700px;
    box-shadow: 7px 7px 0px #000;
  }

  a {
    text-decoration: none;
    padding: 0;
    margin: 0;
  }

  h1 {
    padding: 0;
    margin: 0;
  }
}

.dropheader {
  background-color: #f1fafe;
  padding: 1rem;
  h3 {
    font-family: "Nunito", sans-serif;
  }
}

.post {
  p {
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
  .posts {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 900px) {
  .posts {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
