.dropheader {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;

  margin: 0;
  padding: 0;
  h3 {
    margin: 0;
    padding: 0;
  }

  a {
    padding: 10px;
    margin: 0;
    font-size: 1.2rem;
    text-decoration: underline;
    color: #fff;
  }
}

.posts {
  list-style: none;
  padding: 0;
}

.post {
  display: grid;
  grid-template-columns: 80% 1fr;
  align-items: center;
  background-color: #161624;

  a {
    text-decoration: none;
  }
  h2 {
    color: rgb(218, 208, 208);
    font-size: 1rem;
    padding: 5px;
    text-decoration: underline;
  }

  h5 {
    color: rgb(218, 208, 208);
  }
}
.post:nth-child(even) {
  background-color: #c49c43;

  h5 {
    color: #161624;
  }

  h2 {
    color: #161624;
  }
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 900px) {
}

@media only screen and (min-width: 1200px) {
}
