.posts {
  display: grid;
  grid-template-columns: 1fr;

  li {
    margin: 1rem;
    background-color: #f1fafe;
    max-width: 700px;
    box-shadow: 7px 7px 0px #000;
  }

  .post {
    p {
      text-align: center;
      margin: 0.2rem;
      font-size: 1.5rem;
    }
    a {
      text-decoration: none;
      padding: 0;
      margin: 0;
    }

    h1 {
      font-size: 1.5rem;
      margin-bottom: 0;
    }

    img {
      margin: 0;
      max-width: 80px;
    }
  }
}

.storelogo {
  display: flex;
  justify-content: center;
}

.dropheader {
  padding: 1rem;
  h3 {
    font-family: "Nunito", sans-serif;
    font-size: 3rem;
  }
}

@media only screen and (min-width: 600px) {
  .posts {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 900px) {
  .posts {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .posts {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
