// .container * {
//   border: 1px solid blue;
// }
.container {
  display: grid;
}

h1 {
  padding: 0;
  margin: 0;
}

.link {
  background-color: #000;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem;
  margin: 1rem;
}

.titleandmenulink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
}

p {
  margin: 1rem;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .titleandmenulink {
    justify-content: center;
  }

  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 900px) {
}
