.productcontainer {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem;

  .json {
    background-color: #fff;
    padding: 1rem;
  }
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
      "sidebar main"
      "sidebar main"
      "sidebar main";
  }

  .sidebar {
    grid-area: sidebar;
  }

  .maincontent {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;

    .productcontainer {
      grid-template-columns: 1fr;
    }

    .flower {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: flex-end;
    }

    .prerolls {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: flex-end;
    }

    img {
      max-width: 450px;
    }
  }
}
