.container {
  display: grid;
}

.drops {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem;

  h1 {
    font-size: 2rem;
    margin: 0;
    color: #fff;
  }

  a {
    color: #fff;
  }
}

.drop {
  margin-top: 1rem;
  background-color: #fff;
  display: grid;
  padding: 0.5rem;
  margin: 0.5rem;
  color: #000;
  border-radius: 5px;

  h3 {
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
    align-self: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  ul {
    margin-bottom: 0;
    display: grid;

    align-content: center;
  }
}

.datenstore {
  display: flex;
  flex-direction: column;
}

.namelogo {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.storeName {
  margin-bottom: 1rem;
  padding: 0.25rem;
  font-size: 1.2rem;
  text-align: center;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  color: darkslateblue;
}

.dropday {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
}

.storelogo {
  margin: 0;
}

#container {
  height: 180px;
  margin: 1rem;
}

.leaflet-container {
  margin: 1rem;
}

@media only screen and (min-width: 600px) {
  .drops {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 900px) {
  .drops {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
