.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 1rem;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 900px) {
  .image {
    max-height: 700px;
  }
}
