.container {
  .instaicon {
    font-size: 2rem;
  }
  .instarollheader {
    .titleandlink {
      display: flex;
      justify-content: center;
    }
  }

  .posts {
    display: flex;
    margin: 1rem;
    .post {
    }
  }
}
