.container {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background-color: #fff;
}

.content {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 900px) {
}
