.container {
    margin: 0 auto;
    padding:0;
    display:flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
    background-color: #DBD6C5;

}

.content{
    flex-grow:1;
}

.postimg{
    max-width: 350px;
    margin:0 auto;
}

.blogdate{
    padding:0;
    margin:0;
}
.blogtitle{
    text-align: center;
    margin-top: 2rem;
}

