.container {
  display: none;
}

@media only screen and (min-width: 600px) {
  .container {
    height: 100%;
    display: flex;
  }

  .list {
    li {
      padding: 1rem;
      display: flex;
      justify-content: center;
      margin: 1rem 0;
      background-color: #f1fafe;
    }
  }
}

@media only screen and (min-width: 900px) {
  .container {
  }
}
