.container {
  display: none;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 900px) {
  .container {
    display: flex;
    max-height: 250px;
    justify-content: center;

    .list {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }

    ul {
      margin: 0;
    }

    li {
      list-style: none;
      margin: 1rem;
      padding: 0 1rem;

      a {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;
      }

      a:hover {
        color: #f1fafe;
      }
    }
  }
}
