.container {
  border: 2px solid #000;
  border-radius: 5px;
  width: 300px;

  input {
    background: none;
    border: 1px solid #000;
  }

  textarea {
    background: none;
    border: 1px solid #000;
  }
}

.name {
  display: flex;
  justify-content: center;
}
.email {
  display: flex;
  justify-content: center;
  background: none;
}

.productcontainer {
  display: flex;
  justify-content: center;
}

.product {
  .productselect {
    background: none;
    display: flex;
    height: 130px;
    width: 100%;
    border: 1px solid #000;
    option {
      margin: 5px;
    }
  }
}

.feedbackcontainer {
  display: flex;
  justify-content: center;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #000;
  button {
    color: #fff;
    background-color: #000;
    border: none;
  }
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 900px) {
}
