.container {
  background-color: #f1fafe;
  width: 300px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  box-shadow: 7px 7px 0px #000;

  input {
    background: none;
    border: none;
    border-bottom: 1px solid #000;
    margin-left: 1rem;
  }

  textarea {
    background: none;
    border: 1px solid #000;
  }
}

.formheader {
  text-align: center;
  margin-top: 1rem;
}

.name {
  display: flex;
  justify-content: center;
}
.email {
  display: flex;
  justify-content: center;
  background: none;
}

.productcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feedbackcontainer {
  display: flex;
  justify-content: center;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #000;
  button {
    color: #f1fafe;
    background-color: #000;
    border: none;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    align-self: flex-start;
  }
}

@media only screen and (min-width: 900px) {
}
