.container {
  h1 {
    margin: 0;
  }
}

.productscontainer {
  display: grid;
  grid-template-columns: 1fr;
}

.product {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;

  a {
    font-size: 2rem;
    padding: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  .productscontainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 900px) {
  .productscontainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
