.container{
    background-color: #4D4D4D;
    border-radius:20px;
    padding: .2rem;
    display:grid;
    margin: 1rem;
    
}

.container:hover{
    background-color: green;
}

.button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1.3rem;
    color:#DBD6C5;
}