.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.pic {
  max-width: 350px;
}

.next {
  z-index: 100;
  color: white;
  font-size: 4rem;
  background-color: #000;
  width: 100%;
}
